<div class="container">
    <h3 class="h3">Find out what's happening in Kampala</h3>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="product-grid2">
            <div class="product-image2">
                <a href="#">
                    <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-1.jpeg">
                    <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo3/images/img-2.jpeg">
                </a>
                <%=link_to 'Add to Cart', add_to_cart_path(@event), method: :put, class: "add-to-cart"%>
            </div>
            <div class="product-content">
                <h3 class="title"><%=@event.name%></h3>
                <span class="price">UGX <%=@event.price%></span>
            </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-6">
        <h3 class="title"><%=@event.name%></h3>
        <%=@event.description%>
      </div>
    </div>
</div>
<hr>
